/*
 #F76265 warning text
 #9195B1 gray text
 #5265E8 background color
*/
body {
    background-color:white;
    font-family: Nunito;
    font-weight: bold;
    font-size: 13px;
}

* {
    box-sizing: border-box;
}

.warningimg {
    height: 24;
    width: 24;
}



#callwindow {
    position: relative;
    height: 436px;
    width: 390px;
    background: #5265E8;
    box-shadow: 0px 15px 15px 1px ;
    color: #57596b25;
    border-radius: 6px;
    transform: translate(-50%,50%);
    left: 50%;
    top: 50%;
}
.callwindowshade {
    background-color: #5265E8;
}

#minimize {
    position: absolute;
    height: 15px;
    right: 10px;
    top: 10px;
}

.callbutton {
    position: absolute;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    bottom: 25px;
    cursor: pointer;
    border: none;
}


.callbutton:link {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    transition: all .2s;
    backface-visibility: hidden;
}

.callbutton:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.callbutton:active {
    transform: translate(-1px);
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.decline {
    background: red;
    right: 35px;
}

.accept {
    background: greenyellow;
    left: 35px;
}


.inactivecallbutton{
    background: rgba(172, 255, 47, 0.274)
}

.inactivecallbutton:hover .warningbox{
    display: block;
}

.warningbox {
    padding-top: 13.5px;
    height: 124px;
    width: 282px;
    border-radius: 7px;
    background-color: #f1f2fd;
    box-shadow: 0px 15px 15px 0px ;
    text-align: center;
    color: #06105825;
    position: absolute;
    display: none;
}

#acceptimage {
    position: absolute;
    height:20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
}

#declineimage {
    position: absolute;
    height:20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%) rotate(135deg);
}
